//? == Home ==

@import '../../scss/vars';

.wrapper {
}

.slider {
	width: 100%;
	height: 650px;

	border-radius: 16px;

	overflow: hidden;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
