//? == Catalog Item ==

@import '../../scss/vars';

.wrapper {
	width: 300px;

	position: relative;
}

.img {
	width: 100%;
	height: 300px;

	overflow: hidden;

	border-radius: 8px;

	margin-bottom: 24px;

	&:hover {
		img {
			transform: scale(1.1);
		}
	}

	img {
		width: 100%;
		height: 100%;

		object-position: center;
		object-fit: cover;

		transition: transform 0.2s ease-in-out;
	}

	&.sold {
		opacity: 0.3;
	}
}

.title {
	margin-bottom: 16px;
}

.price {
	color: $color-accent-light;
}

.discount {
	display: none;

	position: absolute;
	top: 16px;
	left: 16px;

	padding: 8px;

	font-size: 12px;
	font-weight: 400;
	color: $color-white-light;

	border-radius: 4px;
	background-color: $color-accent-light;

	&.active {
		display: block;
	}
}
