//? == Variables ==

//* -- Fonts --
$font-DMSans: 'DM Sans', sans-serif;
$font-Allerta: 'Allerta Stencil', sans-serif;
$font-Lato: 'Lato', sans-serif;
$font-RedHat: 'Red Hat Display', sans-serif;
$font-Roboto: 'Roboto', sans-serif;

//* -- Colors --
$color-accent-dark: #b4a186;
$color-accent-light: #a18a68;
$color-darkGray-light: #707070;
$color-darkGray-dark: #272727;
$color-white-light: #ffffff;
$color-white-dark: #fbfbfb;
$color-black-light: #000000;
$color-black-dark: #0a0a0a;
